<%= form_with(model: Comment.new) do |form| %>
  <div class="field">
    <%= form.label :comment %>
    <%= form.text_field :comment %>
  </div>

  <div>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <%= form.hidden_field :commentable_id, value: commentable.id %>
    <%= form.hidden_field :commentable_type, value: commentable.class.name %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
