<p id="notice"><%= notice %></p>

<p>
  <strong><%= Report.human_attribute_name(:title)%>:</strong>
  <%= @report.title %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:content)%>:</strong>
  <%= @report.content %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:user_id)%>:</strong>
  <%= @report.user.name %>
</p>

<p>
  <strong><%= Report.human_attribute_name(:created_at)%>:</strong>
  <%= l @report.created_at, format: :month_day %>
</p>

<% if @report.user.eql? current_user %>
  <%= link_to t('views.common.edit'), edit_report_path(@report) %> |
<% end %>
<%= link_to t('views.common.back'), reports_path %>
