<!DOCTYPE html>
<html>
  <head>
    <title>BooksApp</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p id="notice"><%= notice %></p>
    <p id="alert"><%= alert %></p>

    <%= yield %>

    <% if user_signed_in? %>
      | <%= link_to(t(Book.model_name.human), books_path) %>
      <%= link_to(t(User.model_name.human), users_path) %>
      | <%= link_to(t('devise.view.profile'), user_path(current_user)) %>
      <%= link_to(t('devise.view.logout'), destroy_user_session_path, method: 'delete') %>
    <% end %>
  </body>
</html>
